.leaflet-control-layers-toggle {
  background-image: url('../img/kmz.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}

/* Hide the polyline button in Leaflet.Draw */
.leaflet-draw-draw-polyline {
  display: none !important;
}
